@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>Experiment with eID authentication. When logging in use <b>Dokobit</b>, there you can log in with your personal eID.</p>
  <p>For use of test data in eeID and Dokobit use <a href="https://support.dokobit.com/article/667-mobile-id-and-smart-id-test-data" target="_blank">this website</a>.</p>
  <p>All data processed on this website will be deleted at midnight, EEST. To delete your account early, visit <a href="https://auth.eid.gedas.dev/Identity/Account/Manage/PersonalData">here</a>.</p>
</div>